body {
	font-family: "Open Sans", sans-serif;
	background: url("../images/blurred-7.jpg");
	background-size: cover;
	color: #ffc;
	padding: 0;
	margin: 0;
}
.heading {
	font-weight: 600;
	font-size: 30px;
}

.tab-container {
	background: transparent;
	border-bottom: 2px solid #ffc;
	box-shadow: 2px 2px 6px rgb(175, 175, 149);
}

.tab-options {
	display: flex;
}

.tab-options .tab-option {
	border-right: 2px solid #ffc;
	cursor: pointer;
	font-size: 20px;
	padding: 10px 30px;
}

.tab-options .tab-option .fas,
.tab-options .tab-option .far {
	font-size: 28px;
}

.tab-options .tab-option:hover {
	background: #f0f0d6;
	color: #013243;
	opacity: 0.6;
}

.top-container .screen {
	display: none;
}

.top-container .screen.active-screen {
	display: block;
}

.top-container .tab-option.active-tab {
	background: #f0f0d6;
	color: #013243;
	opacity: 0.8;
}
